<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hostel Management system</title>
    <link rel="stylesheet" href="css/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="image">
          <img src="css/logo - sticker.png" id="image" />
        </div>
        <div class="nav">
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/afterlogin">afterlogin</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
        <div class="adj"></div>
        <div class="nav-search">
          <div class="search">
            <input type="text" placeholder="Search" id="search" />
          </div>
          <div id="profile">
            <button id="profile1">
              <img src="images/profile.png" id="profile-img" />
            </button>
          </div>
        </div>
      </header>
      <main>
        <div class="container3">
          <div class="row">
            <h1 class="heading">HOSTEL MANAGEMENT SYSTEM</h1>
          </div>
          <div class="row">
            <p id="para">
              all in one hostel management system, student housing, girls & boys
              different serviced apartments, ac/non-ac rooms, veg/non-veg
              separated canteen, pollution free green environment, etc
            </p>
          </div>
          <div class="button-container row">
            <div class="col">
              <button type="button" id="mainbtn">SCHEDULE MEETING</button>
            </div>
            <div class="space"></div>
            <div class="col">
              <button type="button" id="mainbtn">CONTACT US</button>
            </div>
          </div>
          <div class="button-container2 row">
            <div class="col">
              <button type="button" class="button1">
                <div class="icons">
                  <img src="images/healthicons_gym.png" id="icons" />
                </div>
                <div class="text">FACILITIES</div>
              </button>
            </div>
            <div class="space"></div>
            <div class="col">
              <button type="button" class="button1">
                <div class="icons">
                  <img src="images/Group.png" id="icons" />
                </div>
                <div class="text">HEALTH CARE SERVICE</div>
              </button>
            </div>
          </div>

          <div class="button-container3 row">
            <div class="col">
              <button type="button" class="button1">
                <div class="icons">
                  <img src="images/Group-1.png" id="icons" />
                </div>
                <div class="text">WIFI CONNECTIVITY</div>
              </button>
            </div>
            <div class="space"></div>
            <div class="col">
              <button type="button" class="button1">
                <div class="icons">
                  <img src="images/Vector.png" id="icons" />
                </div>
                <div class="text">24X7 SECURITY</div>
              </button>
            </div>
          </div>
          <div class="row">
            <button type="button" id="visitbtn">VISIT HOSTEL</button>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>