
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Hostel Management system</title>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="css/index1.css" />
  <link rel="stylesheet" href="css/index2.css">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet" />
  <link
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" 
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" 
    referrerpolicy="no-referrer"
     />

</head>



<body class="ad-body">
    <!-- Start of Home SEction -->
  <div class="ad-container">
    
    <!-- Start of Nav Bar -->

    <header class="ad-header">
        <div class="ad-image">
          <img src="css/logo - sticker.png" id="ad-image" alt="Logo" class="ad-image"/>
        </div>
        <div class="ad-nav">
          <ul class="ad-ul">
            <li><a href="/features" class="ad-li">Features</a></li>
            <li><a href="/gallery" class="ad-li">Gallery</a></li>
            <li><a href="/pricing" class="ad-li">Pricing</a></li>
            <li><a href="/section-about" class="ad-li">About Us</a></li>
            <li><a href="/login" class="ad-li">Login</a></li>
            <li><a href="/register" class="ad-li">New Registration</a></li>
          </ul>
        </div>
        <div class="ad-adj"></div>
        <div class="ad-nav-search">
            <input type="text" placeholder="Search" class="ad-search" id="ad-search" />
          <div id="ad-profile" class="ad-profile">
            <button id="ad-profile1" class="ad-profile1">
              <img src="css/user icon.png" alt="Profile" id="ad-profile-img" class="ad-profile-img" />
            </button>
          </div>
        </div>
      </header>

      <!-- /End of nav-bar -->

    <main class="ad-main">
      <div class="ad-container3">
        <div class="ad-row" data-aos="zoom-in">
          <h1 class="ad-heading">HOSTEL MANAGEMENT SYSTEM</h1>
        </div>
        <div class="ad-row">
          <p class="ad-para">
            All in one hostel management system, student housing, girls & boys different serviced apartments, ac/non-ac rooms, veg/non-veg separated canteen, pollution-free green environment, etc.
          </p>
        </div>
        <div class="ad-button-container ad-row">
          <div class="ad-col" data-aos="zoom-in">
            <a href="#"><button type="button" class="ad-mainbtn">SCHEDULE MEETING</button></a>
          </div>
          <div class="ad-space"></div>
          <div class="ad-col"data-aos="zoom-in">
            <a href="#" ><button type="button" class="ad-mainbtn">CONTACT US</button></a>
          </div>
        </div>
        
        <div class="ad-button-container2 ad-row" >

          <div class="ad-col" >
            <button type="button" class="ad-button1" >
                <i class="fa-solid fa-dumbbell fa-bounce"></i>
              <div class="ad-text" >FACILITIES</div>
            </button>
          </div>
          
          <div class="ad-space"></div>
          <div class="ad-col">
            <button type="button" class="ad-button1">
                <i class="fa-solid fa-hand-holding-medical fa-bounce"></i>
              <div class="ad-text">HEALTH CARE SERVICE</div>
            </button>
          </div>
        </div>

        <div class="ad-button-container3 ad-row">
          <div class="ad-col">
            <button type="button" class="ad-button1">
                <i class="fa-solid fa-wifi fa-beat-fade"></i>
                <div class="ad-text">WIFI CONNECTIVITY</div>
            </button>
          </div>
          <div class="ad-space"></div>
          <div class="ad-col">
            <button type="button" class="ad-button1">
                <i class="fa-solid fa-video fa-flip"></i>
              <div class="ad-text">24X7 SECURITY</div>
            </button>
          </div>
        </div>


          <a href="hero-section.html">
            <button type="button" class="ad-visitbtn">VISIT HOSTEL</button>
          </a>
        </div>
      </div>
    </main>
  </div>

   <!-- End of Home SEction -->


  
    <!-- Start of Explore Data -->
    <div class="section-explore" data-aos="fade-up" >
        <div class="container" >
            <h2 class="section-common-heading">Explore Our Hostel</h2>
            <p class="section-common-subheading">The variety of features you will get !</p>
        </div>

    <div class="container grid grid-four--cols"> 
        <div class="blog" data-aos="flip-left">
            <figure>
                <img src="css/hostel1.png" alt="amico">
            </figure>
            <div class="blog-content" data-aos="fade-left">
                <div class="blog-date">
                    <p><i class="fa-calendar fa-solid fa-regular"></i></p>
                    <p><i class=" fa-solid fa-arrow-right fa-regular"></i></p>
                </div>
                <h3 class="section-common--title">
                    Hostel Rooms for Groups 
                </h3>
            </div>
        </div>

        <div class="blog" data-aos="fade-up">
            <figure>
                <img src="css/hostel2.png" alt="amico">
            </figure>
            <div class="blog-content">
                <div class="blog-date">
                    <p><i class="fa-calendar fa-solid fa-regular"></i></p>
                    <p><i class=" fa-solid fa-arrow-right fa-regular"></i></p>
                </div>
                <h3 class="section-common--title">
                    Hostel Rooms
                </h3>
                

            </div>
        </div>

        <div class="blog" data-aos="fade-down">
            <figure>
                <img src="css/hostel3.png" alt="amico">
            </figure>
            <div class="blog-content">
                <div class="blog-date">
                    <p><i class="fa-calendar fa-solid fa-regular"></i></p>
                    <p><i class=" fa-solid fa-arrow-right fa-regular"></i></p>
                </div>
                <h3 class="section-common--title">
                    Library
                </h3>
                

            </div>
        </div>

        
        <div class="blog"data-aos="flip-right">
            <figure>
                <img src="css/hostel4.png" alt="amico">
            </figure>
            <div class="blog-content">
                <div class="blog-date">
                    <p><i class="fa-calendar fa-solid fa-regular"></i></p>
                    <p><i class=" fa-solid fa-arrow-right fa-regular"></i></p>
                </div>
                <h3 class="section-common--title">
                    Canteen System
                </h3>
                

            </div>
        </div>

        <div class="blog" data-aos="flip-left">
            <figure>
                <img src="css/study.png" alt="amico">
            </figure>
            <div class="blog-content">
                <div class="blog-date">
                    <p><i class="fa-calendar fa-solid fa-regular"></i></p>
                    <p><i class=" fa-solid fa-arrow-right fa-regular"></i></p>
                </div>
                <h3 class="section-common--title">
                    Study Environment
                </h3>
                

            </div>
        </div>

        <div class="blog" data-aos="fade-down">
            <figure>
                <img src="css/hveg-food.png" alt="amico">
            </figure>
            <div class="blog-content">
                <div class="blog-date">
                    <p><i class="fa-calendar fa-solid fa-regular"></i></p>
                    <p><i class=" fa-solid fa-arrow-right fa-regular"></i></p>
                </div>
                <h3 class="section-common--title">
                 Veg Food
                </h3>
                

            </div>
        </div>

        <div class="blog" data-aos="fade-up">
            <figure>
                <img src="css/non-veg-food.png" alt="amico">
            </figure>
            <div class="blog-content">
                <div class="blog-date">
                    <p><i class="fa-calendar fa-solid fa-regular"></i></p>
                    <p><i class=" fa-solid fa-arrow-right fa-regular"></i></p>
                </div>
                <h3 class="section-common--title">
                    Non-Veg Food
                </h3>
                

            </div>
        </div>

        

    </div>
</div>

 <!-- End of Explore Data -->

 <!-- Start of Why US  -->
 
 <section class="section-whyUs">
    <div class="container" data-aos="fade-up">
        <h2 class="section-common-heading">
        Why Us !
        <h2/>
        <p class="section-common-subheading">
            Check our hostel as per your own requirements
           </p>
    </div>
  
    <div class="container grid grid-four--cols">
        <div class="whyUs-div" data-aos="zoom-in">
            <div class="icon">
                <a href="image.html">
                    <i class="fa-regular fa-solid fa-signal"></i>
                    <h3 class="section-common-title">Efficiency</h3>
                </a>
            </div>
            <p>
                Streamlines administrative tasks like room allocation and fee collection.                 
            </p>
        </div>
        <div class="whyUs-div"data-aos="zoom-in">
            <div class="icon">
                <a href="text.html">
                    <i class="fa-regular fa-solid fa-eye"></i>
                    <h3 class="section-common-title">Security</h3>
                </a>
            </div>
            <p>
                Enhances safety with access control and CCTV monitoring.
            </p>
        </div>
        <div class="whyUs-div"data-aos="zoom-in">
            <div class="icon">
                <a href="soundalerts.html">
                    <i class="fa-regular fa-solid fa-comment"></i>
                    <h3 class="section-common-title"> Communication:</h3>
                </a>
            </div>
            <p>
                Facilitates effective messaging and announcements for residents.
            </p>
        </div>
        <div class="whyUs-div"data-aos="zoom-in">
            <div class="icon">
                <a href="combo.html">
                    <i class="fa-regular fa-solid fa-object-group"></i>
                    <h3 class="section-common-title"> Resource Optimization</h3>
                </a>                        
            </div>
            <p>
               Provides insights to better manage occupancy and facilities.
               
            </p>
        </div>
        <div class="whyUs-div"data-aos="zoom-in">
            <div class="icon">
                <a href="savedData.html">
                <i class="fa-regular fa-solid fa-bookmark"></i>
                <h3 class="section-common-title"> Resident Experience</h3>
            </a>
            </div>
            <p>
               Offers convenience through online bookings and feedback channels.             
            </p>
        </div>
        <div class="whyUs-div"data-aos="zoom-in">
            <div class="icon">
                <a href="futureGoals.html">
                <i class="fa-regular fa-solid fa-bullseye"></i>
                <h3 class="section-common-title">Data-driven Decisions</h3>
            </a>
            </div>
            <p>
                 Empowers administrators with analytics for strategic planning.         
            </p>
        </div>
        
        
    </div>
  </section>

 <!-- End of WHY US -->

 
<!-- Start About US SECTION  -->
<section class="section-about" data-aos="fade-up">
<div class="container" >
    <h2 class="section-common-heading">
        About Us
    <h2/>
    <p class="section-common-subheading">Providing you the best hostel services like canteen, study-rooms, gym and much more </p>
</div>
<div class="container grid grid-three--cols">
    <div class="about-div" data-aos="flip-right">
        <div class="icon">
            <img src="css/Marketing Research (HD) .png" alt="research team">
        </div>
        <h3 class="section-common-title">Research</h3>
        <p>
            Our Team started learning about various hostels and trying to provide you the best hostel services which will 
            contain lots of facilities. We tried to make hostel fees in much affordable amount and will make sure that every
            student is getting all benefits of our hostel.
        </p>
    </div>


    <div class="about-div" data-aos="zoom-in">
        <div class="icon">
            <img src="css/design.png" alt="design team" >
        </div>
        <h3 class="section-common-title">Design</h3>
        <p>
            We designed our website effectively in such way that it will get students data according to their choice.
            It will allocate particular room as students have choosen and thier data will be maintained further.
            It is optimized for low latency, ensuring real-time functionality.

        </p>
    </div>


    <div class="about-div" data-aos="flip-left">
        <div class="icon">
            <img src="css/development.png" alt="Development team">
        </div>
        <h3 class="section-common-title">development</h3>
        <p>
            We developed this website for those students which belongs to rural area and searching hostel rooms in college area.
            By using our website students can book online hostel accroding to thier time and choices, so that they will save thier own time.

        </p>
    </div>
</div>


</section>

<!-- END About SETCION -->


<!-- Start of  contact home section  -->

<div class="section-contact--homepage" id="section-contact--homepage" >
    <div class="container grid grid-two--cols" data-aos="zoom-in-right">
        <div class="contact-content" >
            <h2 class="contact-title">Hostel Management System</h2>
            <p>Register your account to know us better</p>
            <div class="btn">
                <a href="/register" target="_blank">
                    start now <i class="  fa-regular fa-solid fa-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="contact-image" data-aos="zoom-in-left">
            <img src="css/amico.png" alt="guy with study">
        </div>
    </div>
</div>

 <!-- End of  contact home section  -->

<!-- Start of  Footer section  -->

<footer class="container grid grid-four--cols">
    <div class="footer-1--div">
        <div class="logo-brand" >
            <a href="index.html" class="footer-subheading">Hostel Management System</a>
        </div>
        <p>Let us help you in choosing <br />hostel with Hostel Management System</p>

        <div class="social-footer--icons" >
            <a href="https://www.youtube.com/" target="_blank" data-aos="zoom-in">
                <i class="fa-brands fa-youtube"></i>
            </a>

            <a href="https://www.instagram.com/" target="_blank" data-aos="zoom-in">
                <i class="fa-brands fa-instagram"></i>
            </a>

            <a href="https://www.linkedin.com/mynetwork/" target="_blank" data-aos="zoom-in">
                <i class="fa-brands fa-linkedin"></i>
            </a>

        </div>   
    </div>

    <div class="footer-2--div">
        <p class="footer-subheading">Get to know about-us</p>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Features</a></li>
                <li><a href="">Why Us</a></li>
                <li><a href="">Gallery</a></li>
                <li><a href="">Contact-us</a></li>
            </ul>
    </div>

    <div class="footer-3--div">
        <p class="footer-subheading">HMS Features </p>
            <ul>
                <li><a href="">Gallery</a></li>
                <li><a href="">Canteen</a></li>
                <li><a href="">Sports & Clubs</a></li>
                <li><a href="">Study-Rooms</a></li>
          </ul>
    </div>

    <div class="footer-4--div">
        <p class="footer-subheading">Let us to help you </p>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Profile</a></li>
                <li><a href="">Complain-Box</a></li>
                <li><a href="">Leave-Letter</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
    </div>


<footer/>

     <!-- End of  Footer section  -->

       <!-- animation start --- aos- animation -->

       <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

       <script>
        AOS.init(
         {
          offset: 300,
          duration: 2000
         }
        );
      </script>
  
       <!-- animation end --- aos- animation -->
  

</body>
</html>
</body>
</html>