<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" href="css/profile.css">        
    </head>
    <body style=" background-color: #E3E9FF">
        <div>
        <header>
               <div class="logo">
                    <img src = "D:\New Start to Coding\Hostel Management Website\Logo Image.png" width = "90px" height = "55px " /><!--Logo Image-->
               </div>
                 <nav>
                    <ul style = "list-style:none; display : flex; justify-content :center ; gap :130px;">
                        <li ><a href = "#" id = "link" style="color: black;"> Home </a></li>
                        <li ><a href = "#" id = "link" style="color: black;"> Features </a></li>
                        <li ><a href = "#" id = "link" style="color: black;"> Pricing </a></li>
                        <li ><a href = "#" id = "link" style="color: black;"> About us </a></li>
                        
                    </ul>
                </nav>
            <input type = "text" placeholder="Search" >
            <div class = "icon">
                <img src = "D:\Hostel Managment System page -1\user icon.png"/> <!--User Icon-->
            </div>
        </header>
    </div>
    <aside></aside>
    <div style="   margin-left : 5.2%; ">
        <img src = "D:\Hostel Managment System page -1\Square Image.png" width="1360px" height ="630"/> <!--Square Image-->
        <div class = "top-left">MY PROFILE</div>
        <div class = "left-btn1">
            <button style="background-color:#f073a0; 
                           font-size: 16px;
                           width: 130px;
                           border-right: 70px black;
                           border-bottom: 70px  black;
                           cursor: pointer;
                           background-color:#ed4f7eb1 ;
                           box-shadow: 4.5px 4.5px 4.3px rgba(132, 129, 129, 0.9);
                           border-bottom-left-radius: 5px;
                           border-top-right-radius: 5px;
                           border-bottom-right-radius: 5px;
                           border-top-left-radius: 5px ;
                       ">
                 MY PROFILE
            </button>
        </div>
        <div class = "left-btn2"><button style="background-color:#f073a0; 
            font-size: 16px;
            width: 133px;
            border-right: 70px black;
            border-bottom: 70px  black;
            cursor: pointer;
            background-color:#ed4f7eb1 ;
            box-shadow: 4.5px 4.5px 4.3px rgba(132, 129, 129, 0.9);
            border-bottom-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-top-left-radius: 5px ;"
                        > 
                EDIT PROFILE
            </button>
        </div>
        <div class = "left-btn3"><button style="background-color:#f073a0; 
            font-size: 16px;
            width: 180px;
            border-right: 70px black;
            border-bottom: 70px  black;
            cursor: pointer;
            background-color:#ed4f7eb1;
            box-shadow: 4.5px 4.5px 4.3px rgba(132, 129, 129, 0.9);
            border-bottom-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-top-left-radius: 5px ;"
                         >
                ACCOUNT SETTINGS
            </button>
        </div>
        <div class = "left-btn4"> <button style="background-color:#f073a0; 
            font-size: 16px;
            width: 113px;
            border-right: 70px black;
            border-bottom: 70px  black;
            cursor: pointer;
            background-color:#ed4f7eb1 ;
            box-shadow: 4.5px 4.5px 4.3px rgba(132, 129, 129, 0.9);
            border-bottom-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-top-left-radius: 5px ;"
                        > 
                 LOG OUT 
            </button>
        </div>
        <div class= "line"></div>
        <div class = "glass"></div>
    </div>
</aside>
<sectio>
    <div >
        <table class = "form1">
                <tr>
                    <td><label for = "PRN">PRN </label></td>
                    <td><input type = "text" id = "PRN" /></td>
                </tr>       
                <tr>
                   <td><label for = "Name">Name </label></td>
                    <td><input type = "text" id = "Name" /></td>
                </tr>
                <tr>
                    <td><label for = "email">Email </label></td>
                    <td><input type = "email" id = "email" /></td>
                </tr>
                <tr>
                    <td><label for = "Contact No."> Contact No </label></td>
                    <td><input type = "tel" id = "tel"></textarea></td>
                </tr>
                <tr>
                    <td><label for = "Address">Address </label></td>
                    <td><input name = "text" id = "Addeess"></textarea></td>
                </tr>
            </table>      
        </div>
        <div >
            <table class = "form2">
                <tr>
                    <td><label for = "DOB">DOB </label></td>
                    <td><input type = "date" id = "DOB" /></td>
                </tr>
                <tr>
                    <td><label for = "Branch">Branch </label></td>
                    <td><input type = "text" id = "Branch" /></td>
                </tr>
                <tr>
                    <td><label for = "Year">Year </label></td>
                    <td><input type = "text" id = "Year" /></td>
                </tr>
                <tr>
                    <td><label for = "Roon Reference">Room Reference</label></td>
                    <td><input type = "number" id = "Room Reference" /></td>
                </tr>
                <tr>
                    <td><label for = "Room No.">Room No</label></td>
                    <td><input type = "number" id = "Room No." /></td>
                </tr>
    
            </table>      
    </div>
</sectio>
<footer>
    <div class = "bottom-right">
        <img src = "D:\New Start to Coding\Hostel Management Website\Bottom Purple Sticker.png" width="260px" height="270px"/><!-- Bottom Purple Sticker-->
    </div>
</footer>
    </body>
</html>