<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>resiter</title>
    <link rel="stylesheet" href="css/register.css">
</head>
<body>
    <div class="cover">
        
        
        

        <div class="navbar">
            <img class="logo1" src="css/logo - sticker.png" alt="">
            <h3>
                <b>
                    HOSTEL MANAGEMENT SYSTEM
                </b></h3>
            <button type="button" class="bth" id="btn"><b>BACK TO HOME</b></button>
            <button type="button" class="login" id="log"><b>LOGIN</b></button>
            
        
        </div>
        <div class="image">
            <img class="logo" src="css/logo - sticker.png" alt="">
            <h2>Register New Account</h2>


<div class="outer">
   
            <form action="/register" method="post">

                <div class="inner">
                    <div class="input">
                        <input class="enter" type="text" placeholder="Name" name="name">
                    </div>
    
                    <div class="input">
                        <input class="enter" type="contact" placeholder="Contact No." name="contact">
                    </div>
    
                    <div class="input">
                        <input class="enter" type="date" placeholder="Date of Birth" name="date">
                    </div>
    
                    <div class="input">
                        <input class="enter" type="number" placeholder="PRN" name="prn">
                    </div>
                    <div class="input">
                        <input class="enter" type="text" placeholder="Password" name="password" required>
                    </div>
                </div>

                <div class="inner2">
                    <div class="input">
                        <input class="enter" type="text" placeholder="Branch" name="branch">
                    </div>
    
                    <div class="input">
                        <select name="roomReference" class="enter">
                            <option value="">Select Room Reference</option>
                            <option value="Ac">Ac</option>
                            <option value="Non-Ac">Non Ac</option>
                        </select>
                    </div>
                    <div class="input">
                        <input class="enter" type="email" placeholder="Email" name="email">
                    </div>
                    <div class="input">
                        <input class="enter" type="text" placeholder="Select Room  Reference " name="preference">
                    </div>
                    <div class="input">
                        <input class="enter" type="text" placeholder="Confirm Password" name="confirmPassword" required>
                    </div>
                </div>
                <button class="register"><b>REGISTER</b></button>
                <div class="logp">
                    <p>Already have an account,then <a href="/login">Login</a></p>
                </div>
            </form>
        </div>  
        </div>
    </div>
<script>
    const backButton=document.getElementById('btn');
    const lgButton=document.getElementById('log');
    backButton.addEventListener('click', function() {
    window.location.href = '/'; 
});
 lgButton.addEventListener('click', function() {
    window.location.href = '/login'; 
});
</script>
</body>
</html>